<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Minesweeper: the Hax into the Terrible Anus</title>
<script type="text/javascript" src="/static/minesweeper.js"></script>
<style type="text/css">
body {
  font-family: monospace;
  font-size: 10pt;
}

p {
  margin: 0.5em;
}

a img {
  border: none;
}

.prompt, #output {
  width: 55em;
  border: 1px solid silver;
  background-color: #f5f5f5;
  font-size: 10pt;
  margin: 0.5em;
  padding: 0.5em;
  padding-right: 0em;
  overflow-x: hidden;
}

#caret {
  width: 1.25em;
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px;
}

#command {
  width: 53em;
  margin-left: -1em;
  padding-left: 0px;
  border-left: 0px;
  background-position: top right;
  background-repeat: no-repeat;
}

#ajax-status {
  font-weight: bold;
}

.message {
  color: #8AD;
  font-weight: bold;
  font-style: italic;
}

.error {
  color: #F44;
}

</style>
</head>

<body>

<p> Minesweeper: the Hax into the Terrible Anus.
</p>

<textarea id="output" name="output" rows="30" readonly="readonly">
{{ server_software }}
Python {{ python_version }}
Seed {{ rand_seed }}


{{ messages }}
</textarea>

<form id="form" action="command.do" method="get">
  <nobr>
  <textarea class="prompt" id="caret" readonly="readonly" rows="4"
            onfocus="document.getElementById('command').focus()"
            >&gt;</textarea>
  <textarea class="prompt" name="command" id="command" rows="4"
            onkeypress="return shell.onPromptKeyPress(event);"></textarea>
  </nobr>
  <input type="hidden" name="state" id="state" value="{{ state }}" />
  <input type="hidden" name="session" value="{{ session }}" />
  <input type="submit" style="display: none" />
</form>

<p id="ajax-status"></p>

<script type="text/javascript">
    document.getElementById('command').focus();
    output = document.getElementById('output');
    output.scrollTop = output.scrollHeight;
</script>

</body>
</html>

